<div class="col-md-3">
	<div class="pay_notice">		
		Noticia de pago
	</div>
	<!-- últimas provinciales -->
	<% @provincial.each do |pl| %>
	<div class="normal_notice">
		<%= pl.title.to_s %>
	</div>
	<% end %>
	<!-- últimas nacionales -->
	<% @national.each do |nl| %>
	<div class="normal_notice">
		<%= nl.title.to_s %>
	</div>	
	<% end %>
</div>	
<div class="col-md-3">
	<div class="pay_notice">		
		Noticia de pago
	</div>
	<!-- últimas regionales -->
	
	<% @regional.each do |rl| %>
	<div class="normal_notice">
		<%= rl.title.to_s %>
	</div>	
	<% end %>
	<!-- últimas nacionales -->	
	<% @national.each do |nl| %>
	<div class="normal_notice">
		<%= nl.title.to_s %>
	</div>	
	<% end %>
</div>